SERVERCHAN_SENDKEY=
WECOM_WEBHOOK_URL=

WECHAT_PROFILE_DIR=./my_wechat_profile
WECHAT_HEADLESS=1
WECHAT_REFRESH_MAX_WAIT=900
WECHAT_RUN_MODE=push-latest-all
WECHAT_SKIP_INSTALL=1
WECHAT_FORCE_PUSH=1
WECHAT_FORCE_REFRESH=0

WECHAT_ACCOUNTS_FILE=./accounts.json
WECHAT_ACCOUNT=
WECHAT_REFRESH_TARGET_URL=https://mp.weixin.qq.com/

WECHAT_WATCHDOG_ENABLED=1
WECHAT_WATCHDOG_AUTO_FIX=1
WECHAT_WATCHDOG_ALERT_TTL_SECONDS=21600
WECHAT_WATCHDOG_STALE_SECONDS=
WECHAT_WATCHDOG_MAX_RUNTIME_SECONDS=3600
WECHAT_WATCHDOG_MIN_FREE_GB=2
WECHAT_WATCHDOG_MIN_FREE_PERCENT=5
